@font-face {
  font-family: 'AlienLeague';
  src: url('assets/fonts/alienleaguebold.ttf') format('truetype');
}

body {
  background-image: url('assets/images/ATF promo hi res_scaled.jpg');
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
}

.fader,
.distressed-a {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.pull-right {
  float: right;
}

.distressed-a {
  z-index: 1;
  background-image: url(assets/images/distress_a.svg);
  background-position: center center;
  background-size: 100% 100%; 
  background-attachment: fixed;
}

.fader {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.main {
  position: relative;
  z-index: 3;
}

.main-content {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.6);
}

.container {
  margin: auto;
  max-width: 1024px;
}

.wrapper {
}

.hero svg {
  height: 100%;
  width: 100%;
}

.content-cell {
  padding: 10px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.content-cell.light {
  color: #000000;
  background-color: inherit;
  box-shadow: none;
}

.content-cell.light .header {
  border-bottom: 1px solid #000000;
}

.content-cell .header {
  font-family: 'AlienLeague';
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #FFFFFF;
}

.album {
  padding-top: 5px;
  padding-bottom: 5px;
}

.album img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

footer {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

footer a {
  text-decoration: none;
  color: #000000;
}

footer a:hover,
.color-grey,
footer .footer-links:after {
  color: rgba(0, 0, 0, 0.5);
}

footer svg {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

footer .footer-link {
  font-family: 'AlienLeague';
  font-size: 20px;
  font-weight: bold;
}

footer .footer-link:after {
  content: "|";
  padding: 0 10px;
}

.footer-links {
  margin-bottom: 5px;
}

.copywright {
  font-size: 14px;
}

nav > div {
  font-family: 'AlienLeague';
  padding: 5px 15px;  
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

nav {
  margin-bottom: 10px;
}

.video-container {
  margin-bottom: 10px;
}

@media (min-width: 48em) {
  .main-content {
    padding: 10px 20px !important;
  }

  nav {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
