@font-face {
  font-family: 'AlienLeague';
  src: url('assets/fonts/alienleaguebold.ttf') format('truetype');
}

body {
  background-image: url('assets/images/ATF promo hi res_scaled.jpg');
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
}

.fader {
  z-index: 1;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.main {
  position: relative;
  z-index: 2;
}

.main-content {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.6);
}

.container {
  margin: auto;
  max-width: 1024px;
}

.wrapper {
  background-image: url(assets/images/distress_a.svg);
  background-position: center center;
  background-size: 100% 100%; 
  background-attachment: fixed;
}

.hero svg {
  height: 100%;
  width: 100%;
}

.content-cell {
  padding: 10px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}

.left-column .content-cell:last-child {
  flex-grow: 1;
}

.content-cell.light {
  color: #000000;
  background-color: inherit;
}

.content-cell.light .header {
  border-bottom: 1px solid #000000;
}

.content-cell .header {
  font-family: 'AlienLeague';
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #FFFFFF;
}

.album {
  padding-top: 5px;
  padding-bottom: 5px;
}

.album img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

nav > div {
  font-family: 'AlienLeague';
  padding: 5px 15px;  
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

nav {
  margin-bottom: 10px;
}

.video-container {
  margin-bottom: 10px;
}

@media (min-width: 48em) {
  nav {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
