div.col-xs-12
  div.hero
    include ../assets/images/atf_logo.svg
  div.row
    div.bio.col-xs-6
      div.content-cell
        div.header Bio
        div.content
          include ../partials/bio.jade
    div.col-xs-6

