div.row
  div.col-sm-6.col-xs-12.left-column
    div.content-cell
      div.header Bio
      div.content
        include ../partials/bio.jade
    div.content-cell
      div.header Discography
      div.content.col-xs-12
        div.row
          div.album.col-md-6.col-xs-12
            div
              a(href="https://itunes.apple.com/us/album/empire-single/id8285057872")
                img(src="{{baseurl}}assets/images/empire_artwork.jpg")
          div.album.col-md-6.col-xs-12
            div
              a(href="https://itunes.apple.com/us/album/your-final-goodbye-ep/id525454352")
                img(src="{{baseurl}}assets/images/yfg_artwork.jpg")
        div.row
          div.album.col-md-6.col-xs-12
            div
              a(href="")
                img(src="{{baseurl}}assets/images/ydhtstd_artwork.jpg")
          div.album.col-md-6.col-xs-12
            div
              a(href="https://itunes.apple.com/us/album/we-invented-a-world-ep/id255320470")
                img(src="{{baseurl}}assets/images/wiaw_artwork.jpg")
    div.content-cell
      div.header Videos
      div.content.col-xs-12
        div.video-container
          iframe(width="100%" height="315" src="https://www.youtube.com/embed/ywWsCHgnWGg" frameborder="0" allowfullscreen)
        div.video-container
          iframe(width="100%" height="315" src="https://www.youtube.com/embed/ryA_9d_ox_k" frameborder="0" allowfullscreen)
  div.col-sm-6.col-xs-12
    div.content-cell.light
      div.header Music
      div.content.col-xs-12
        iframe(width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/99537366%3Fsecret_token%3Ds-MhQu9&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true")
    div.content-cell.light
      div.header Follow
      div.content.col-xs-12
        a.twitter-timeline(href="https://twitter.com/Afterthefall1" data-widget-id="589513952867930112") Tweets by @Afterthefall1

