footer
  div.row.footer-links
    div.footer-link
      a(href="https://www.facebook.com/afterthefall1") Facebook
    div.footer-link
      a(href="https://soundcloud.com/after-the-fall") SoundCloud
    div.footer-link
      a(href="https://twitter.com/Afterthefall1") Twitter
    div.footer-link
      a(href="https://instagram.com/afterthefallne") Instagram
  div.row.color-grey.copywright
    div &copy; After the Fall. All rights reserved.
