doctype html
html
  include ../partials/head.jade
  body.col-xs-12
    include ../partials/navigation.jade
    div.row 
      div.main-content
        //content-include
    include ../partials/footer.jade
