doctype html
html
  include ../partials/head.jade
  body
    div.main.col-xs-12
      // include ../partials/navigation.jade
      div.row.wrapper
        div.main-content.col-xs-12.container
          //content-include
      include ../partials/footer.jade
